<html lang='en'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap' rel='stylesheet' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <style>
      body { font-family: 'Poppins', sans-serif; color: #333; margin: 0; padding: 0; } .container { margin: 0 auto; width: 100%; padding: 10px 50px 50px 50px; background-color:
      #EEF4FF; text-align: center; } .container-inside { margin: 0 auto; width: 400px; margin-top: 20px; padding: 10px 50px 50px 50px; background-color: #FFF; border-radius: 20px;
      text-align: center; } h1 { font-size: 28px; font-weight: 500; color: #16171B; } p { font-size: 16px; font-weight: 400; color: #050B0F; } a { text-decoration: none; font-size:
      16px; font-weight: 500; color: #FFF; background-color: #c49813; padding: 10px 20px; margin-top: 50px; border-radius: 10px; } .container_user { margin-top: 45px;
      margin-bottom: 55px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <img width='200px' src='https://i.imgur.com/psbPhSS.jpeg' />
      <div class='container-inside'>
        <p>Your Order {{user}},</p>
        <div class='container_user'>
            <p>You spent {{amountBRL}} to buy {{btcBought}} BTC</p>
        </div>
      </div>
    </div>
  </body>
</html>


